﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Models
@using System.Threading.Tasks;
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
    var _portal = PortalAgent.CurrentPortal;
    bool isLoginAuthorization = Convert.ToBoolean(_portal.GlobalAttributes.Attributes.Where(x => x.AttributeCode == "LoginRequired").Select(x => x.AttributeValue).FirstOrDefault());
    bool IsLoginUser = Convert.ToBoolean(SessionProxyHelper.IsLoginUser());
    bool isCloudflareEnabled = GlobalAttributeHelper.IsCloudflareEnabled();
}
<div class="container-fluid">
    <div class="row proxy-login-section">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mobile-no-padding store-tab">
            <ul>
                <li>@Html.RenderMessage("B2bTab")</li>
                <li class="set-active activeclass">@Html.RenderMessage("PrebookTab")</li>
            </ul>
        </div>
        <div class="container proxy-login hidden">
            @if (Request.IsAuthenticated && SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey) != null)
            {
                ImpersonationModel impersonation = SessionHelper.GetDataFromSession<ImpersonationModel>(WebStoreConstants.ImpersonationSessionKey);

                <span class="">
                    @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                </span>
                <a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff"> @WebStore_Resources.LabelLogOff</a>
            }
        </div>
    </div>
    <div class="row header-local-container hidden">
        <div class="container">
            <div class="row">
                <!--Locales Widget-->
                <z-widget>@Html.WidgetPartial("Locales", "Locales", "123", "PortalMapping", 4)</z-widget>
                <div class="pull-right track-order">
                    @Html.ActionLink(WebStore_Resources.LabelTrackOrder, "GetOrderDetails", "User", "", new { @data_test_selector = "linkTrackOrder" })
                </div>
                @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Shared/_CurrentEnvironment.cshtml"))
            </div>
        </div>
    </div>
</div>

<!--Nivi Login Condition For B2B and PreBook-->
@if (isLoginAuthorization == false || IsLoginUser == true)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-3 nopadding">
                <a href="/" class="header-logo" data-test-selector="linkLogoImage">
                    @{
                        if (string.IsNullOrEmpty(logo))
                        {
                            <h1>@title</h1>
                        }
                        else
                        {
                            <img data-src="@logo" src="@logo" alt="@title" class="img-responsive b-lazy" data-test-selector="imgLogoImage" />
                        }
                    }
                </a>
            </div>
            <div class="header-link-contain nopadding">
                <div class="col-xs-12 col-sm-5 col-md-3 nopadding">
                    <!--Search Widget-->
                    <z-widget><div class="search-panel-widget">@Html.WidgetPartial("SearchPanel", "SearchPanel", "105", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</div></z-widget>
                </div>
                <!-- Shopper Approved Start -->
                <div class="col-xs-12 col-sm-2 col-md-2 nopadding text-center Shopper-Rate-Img">
                    <p>@Html.RenderMessage("ShoppersApprovedSeal")</p>
                </div>
                <!-- Shopper Approved End -->
                <div class="col-xs-12 col-sm-9 col-md-4 header-link nopadding pull-right">
                    <ul>
                        <li>
                            <span class="loginStatus">
                                @if (isCloudflareEnabled)
                                {
                                    <span>Loading..</span>
                                }
                                else
                                {
                                    @Html.Action("LoginStatus", "User")
                                }
                            </span>
                        </li>
                        <li class="quick-order-li hidden">
                            <!--Quick Order Widget-->
                            @if (isLoginAuthorization == false || IsLoginUser == true)
                            {
                                <z-widget>@Html.WidgetPartial("QuickOrder", "QuickOrder", "123", "PortalMapping", 4)</z-widget>
                            }
                        </li>
                        <li class="cart-icon">
                            <a href='/cart'>@Html.RenderMessage("MessageConfig")<i class='f-size zf-cart header-toolbar-cart' data-test-selector="linkCart"></i><span class='cartcount' data-test-selector="linkCartCount"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--Navigation Widget-->
                <z-widget>@Html.WidgetPartial("TopLevelNavigation", "TopLevelNavigation", "104", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
            </div>
        </div>
    </div>
}


<script>
    $.ajax({ url: "/Home/GetCartCount", type: "get", cache: false }).done(function (t) { $(".cartcount").html(t); });
    if ('@isCloudflareEnabled' == 'True')
    {
        $.ajax({ url: "/User/LoginStatus", type: "get", cache: false  }).done(function(t) { $(".loginStatus").html(t); });
    }
</script>
<!-- Shopper Approved Start -->
<script type="text/javascript">(function () { var js = window.document.createElement("script"); js.src = "//www.shopperapproved.com/seals/certificate.js"; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); var link = document.createElement('link'); link.rel = 'stylesheet'; link.type = 'text/css'; link.href = "//www.shopperapproved.com/seal/default.css"; document.getElementsByTagName('head')[0].appendChild(link); })();</script>
<!-- Shopper Approved End -->