﻿@using Znode.Engine.WebStore.ViewModels
@{
    string _shippingTypeName = Model.ShippingTypeName;
}
<div class="col-xs-12 nopadding cart-summary receipt-totals">
    <div class="col-sm-offset-5 col-md-offset-6">
        <div class="form-group padding-left-right">
            <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnSubTotal</div>
            <div class="col-xs-6 nopadding text-right" data-test-selector="divSubtotal">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</div>
        </div>
        @if (Model.DiscountAmount != 0)
        {
            <div class="form-group padding-left-right">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnDiscounts</div>
                <div class="col-xs-6 nopadding text-right" data-test-selector="divDiscountAmount">@Helper.FormatPriceWithCurrency(0 - Model.DiscountAmount, Model.CultureCode)</div>
            </div>
        }
        @if (Model.ImportDuty > 0)
        {
            <div class="form-group padding-left-right">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ImportDuty</div>
                <div class="col-xs-6 nopadding text-right" data-test-selector="divTaxCost">@Helper.FormatPriceWithCurrency(Model.ImportDuty, Model.CultureCode)</div>
            </div>
        }
        @if (Model.TaxCost > 0)
        {
            <div class="form-group padding-left-right">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnTax</div>
                <div class="col-xs-6 nopadding text-right" data-test-selector="divTaxCost">@Helper.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</div>
            </div>
            if (Model?.TaxSummaryList?.Count > 0)
            {
            <div class="col-xs-12 table-responsive form-group tax-summary nopadding">
                <table class="table" id="TaxSummary">
                    <thead>
                        <tr>
                            <th data-test-selector="lblTaxName">@WebStore_Resources.ColumnTitleTaxName</th>
                            <th data-test-selector="lblRate">@WebStore_Resources.ColumnTitleRate</th>
                            <th class="align-right text-right" data-test-selector="lblTaxes">@WebStore_Resources.ColumnTitleTaxesFees</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TaxSummaryViewModel taxSummary in Model.TaxSummaryList)
                        {
                            <tr>
                                <td>@taxSummary.TaxName</td>
                                <td>@taxSummary.Rate</td>
                                <td>@taxSummary.Tax</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        }
        @if (Model.ShippingCost > 0)
        {
            <div class="form-group padding-left-right">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelShippingCost (@Html.RenderBlock(_shippingTypeName)) </div>
                <div class="col-xs-6 nopadding text-right" data-test-selector="divShippingCost">@Helper.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</div>
            </div>
        }
        @if (Model.GiftCardAmount > 0)
        {
            <div class="form-group padding-left-right">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelVoucherAmount</div>
                <div class="col-xs-6 nopadding text-right" data-test-selector="divGiftCardAmount">@Helper.FormatPriceWithCurrency(Model.GiftCardAmount, Model.CultureCode)</div>
            </div>
        }

        @if (Model.CSRDiscountAmount > 0)
        {
            <div class="form-group padding-left-right">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelCSRDiscountAmount</div>
                <div class="col-xs-6 nopadding text-right" data-test-selector="divCSRDiscountAmount">@Helper.FormatPriceWithCurrency(0 - Convert.ToDecimal(Model.CSRDiscountAmount), Model.CultureCode)</div>
            </div>
        }

        <div class="form-group receipt-total padding-left-right">
            <div class="col-xs-6 nopadding"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
            <div class="col-xs-6 nopadding text-right" data-test-selector="divOrderTotal"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.Total), Model.CultureCode)</h2></div>
        </div>
    </div>
</div>
