﻿@using Znode.Libraries.Resources
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@using Znode.Engine.WebStore.Models
@{
    if (String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = PortalAgent.CurrentPortal.Name;
    }
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string _customModule = ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper() == ViewContext.Controller.GetType().Name.Replace("Controller", "") ? string.Empty : $".{ViewContext.Controller.GetType().Name.Replace("Controller", "")}" ;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    @Html.Partial("_LayoutHead")
</head>
<body id="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()" class="@ViewContext.RouteData.Values["Action"]" data-controller="@ViewContext.RouteData.Values["Controller"].ToString().FirstCharToUpper()@_customModule" data-view="@ViewContext.RouteData.Values["Action"].ToString().FirstCharToUpper()">
    @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Home/_StoreAnalyticsInstallation.cshtml"), PortalAgent.CurrentPortal)
    <div id="layout" class="wrapper">
        <!--Header Widgets-->
        <header class="header-checkout">
            <div class="proxy-login-section">
                <div class="container proxy-login">
                    @if (Session[WebStoreConstants.ImpersonationSessionKey] != null)
                    {
                        ImpersonationModel impersonation = (ImpersonationModel)Session[WebStoreConstants.ImpersonationSessionKey];
                        <span class="">
                            @impersonation.CRSName   @WebStore_Resources.LoggedInAs   @impersonation.ShopperName
                        </span>
                        <a href="/User/Logout" class="log-off" id="log-off" data-test-selector="linkLogOff"> @WebStore_Resources.LabelLogOff</a>
                    }
                </div>
            </div>
            <div class="container">
                <div class="col-xs-12 col-sm-5 col-md-2 nopadding">
                    <a href="/" class="header-logo">
                        @{
                            if (string.IsNullOrEmpty(logo))
                            {
                                <h1>@title</h1>
                            }
                            else
                            {
                                <img data-src="@logo" alt="@title" class="img-responsive b-lazy" />
                            }
                        }
                    </a>
                </div>
            </div>
        </header>
        <div id="layout-content">
            <div class="container-fluid" id="SuccessMessage">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <!-- Notification Msg -->
                    <div class="container">
                        <div class="row">
                            <div class="notification-msg" id="body">
                                <div class="messageBoxContainer" id="messageBoxContainerId" data-message="@TempData["Notifications"]"></div>
                                @{
                                    TempData.Remove("Notifications");
                                }
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--Footer Widgets-->
        <div class="footer-container">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 nopadding footer-copyright-text">
                            <p>@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_InlineTemplates")
    @Html.Hidden("hdnPaymentAppUrl", @ZnodeWebstoreSettings.PaymentApplicationUrl)
    @Html.Hidden("hdnWebStoreUrl", @ZnodeWebstoreSettings.ZnodeWebStoreUri)
    @Scripts.Render("~/bundles/CoreJs")
    @Scripts.Render("~/bundles/ZnodeCoreJs")
    @RenderSection("scripts", required: false)
    @* Loader *@
    <div id='Single-loader-content-backdrop' class='loader modal-backdrop' style="display:none">
        <div id='loading' class='d-flex modal-dialog-centered justify-content-center'>
            <img src="@_fileLocation/Images/loading.svg" />
        </div>
    </div>
    @* Kalviyo Changes *@
    <script async type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=XRiiP2"></script>
</body>
</html>
<script>
    // Data Layer Initialization
    var dataLayer = [];

    $(document).ready(function () {
        var notification = new ZnodeNotification();
        notification.DisplayNotificationMessages();
    });
</script>


