﻿@model decimal

<span class="star-rating" data-test-selector="spanStarRating">
    @{
        int totalStar = 5;
        int integral = (int)decimal.Truncate(Model);
        int fraction = (int)((Model - decimal.Truncate(Model))*10);
        for (int item = 1; item <= integral; item++)
        {
            <i data-test-selector="spanStarFullRating" class="zf-star-full"></i>
            totalStar = totalStar - 1;
        }
        if (fraction >= 5)
        {
            <i data-test-selector="spanStarHalfRating" class="zf-star-half"></i>
            totalStar = totalStar - 1;
        }
        for (int item1 = 1; item1 <= totalStar; item1++)
        {
            <i data-test-selector="spanStarEmptyRating" class="zf-star-empty"></i>
        }
    }
</span>
