﻿@using Znode.Engine.WebStore.ViewModels
@model RMAReturnCalculateViewModel

<div class="col-xs-12 nopadding cart-summary receipt-totals text-right">
    <div class="col-sm-offset-5 col-md-offset-6">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">@WebStore_Resources.ColumnSubTotal</div>
                <div class="col-xs-6" id="returnSubtotalId" data-test-selector="divReturnSubtotal">@Helper.FormatPriceWithCurrency(Model.ReturnSubTotal, Model.CultureCode)</div>
            </div>
        </div>
        @*@if (Model.DiscountAmount != 0)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-6">@WebStore_Resources.ColumnDiscounts</div>
                    <div class="col-6 pr-3 pr-md-5" data-test-selector="divDiscountAmount">@Helper.FormatPriceWithCurrency(0 - Model.DiscountAmount, Model.CultureCode)</div>
                </div>
            </div>
        }*@
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">@WebStore_Resources.ColumnTax</div>
                <div class="col-xs-6" id="returnTaxCostId" data-test-selector="divReturnTaxCost">@Helper.FormatPriceWithCurrency(Model.ReturnTaxCost, Model.CultureCode)</div>
            </div>
        </div>
        @if (Model.ReturnImportDuty > 0)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">@WebStore_Resources.ImportDuty</div>
                    <div class="col-xs-6" id="returnImportDutyId" data-test-selector="divReturnImportDuty">@Helper.FormatPriceWithCurrency(Model.ReturnImportDuty, Model.CultureCode)</div>
                </div>
            </div>
        }
        
        @if (Model.ReturnShippingCost > 0)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">@WebStore_Resources.ColumnShipping</div>
                    <div class="col-xs-6" id="returnShippingCostId" data-test-selector="divReturnShippingCost">@Helper.FormatPriceWithCurrency(Model.ReturnShippingCost, Model.CultureCode)</div>
                </div>
            </div>
        }
        @*@if (Model.GiftCardAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnGiftCardAmount</div>
                <div class="col-xs-6 nopadding" data-test-selector="divGiftCardAmount">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CultureCode)</div>
            </div>
        }*@

        @*@if (Model.CSRDiscountAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelCSRDiscountAmount</div>
                <div class="col-xs-6 nopadding" data-test-selector="divCSRDiscountAmount">@Helper.FormatPriceWithCurrency(0 - Convert.ToDecimal(Model.CSRDiscountAmount), Model.CultureCode)</div>
            </div>
        }*@
        <div class="form-group receipt-total">
            <div class="row">
                <div class="col-xs-6"><h2>@WebStore_Resources.LabelReturnTotal</h2></div>
                <div class="col-xs-6" id="returnTotalId" data-test-selector="divReturnTotal"><h2>@Helper.FormatPriceWithCurrency(Model.ReturnTotal, Model.CultureCode)</h2></div>
            </div>
        </div>
    </div>
</div>
