﻿@using Znode.Engine.WebStore.ViewModels
<div class="col-xs-12 nopadding cart-summary receipt-totals">
    <div class="col-sm-offset-5 col-md-offset-6">
        <div class="form-group">
            <div class="col-xs-6 nopadding padding-left">@WebStore_Resources.ColumnSubTotal</div>
            <div class="col-xs-6 nopadding subtotal text-right" data-test-selector="divSubtotal">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CultureCode)</div>
        </div>
        @if (Model.ImportDuty > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding padding-left">Import Duty</div>
                <div class="col-xs-6 nopadding tax-cost text-right" data-test-selector="divTaxCost">@Helper.FormatPriceWithCurrency(Model.ImportDuty, Model.CultureCode)</div>
            </div>
        }
        @if (Model.TaxCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding padding-left">@WebStore_Resources.ColumnTax</div>
                <div class="col-xs-6 nopadding tax-cost text-right" data-test-selector="divTaxCost">@Helper.FormatPriceWithCurrency(Model.TaxCost, Model.CultureCode)</div>
            </div>
            if (Model?.TaxSummaryList?.Count > 0)
            {
                <div class="col-xs-12 table-responsive form-group tax-summary nopadding">
                    <table class="table" id="TaxSummary">
                        <thead>
                            <tr>
                                <th data-test-selector="lblTaxName">@WebStore_Resources.ColumnTitleTaxName</th>
                                <th data-test-selector="lblRate">@WebStore_Resources.ColumnTitleRate</th>
                                <th class="text-right" data-test-selector="lblTaxes">@WebStore_Resources.ColumnTitleTaxesFees</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TaxSummaryViewModel taxSummary in Model.TaxSummaryList)
                            {
                                <tr>
                                    <td>@taxSummary.TaxName</td>
                                    <td>@taxSummary.Rate</td>
                                    <td>@taxSummary.Tax</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }

        @if (Model.ShippingCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding padding-left">@WebStore_Resources.LabelShippingCost </div>
                <div class="col-xs-6 nopadding shipping-cost text-right" data-test-selector="divShippingCost">@Helper.FormatPriceWithCurrency(Model.ShippingCost, Model.CultureCode)</div>
            </div>
        }
        <div class="form-group receipt-total">
            <div class="col-xs-6 nopadding padding-left"><h2>@WebStore_Resources.LabelQuoteTotal</h2></div>
            <div class="col-xs-6 nopadding order-total text-right" data-test-selector="divOrderTotal"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.QuoteTotal), Model.CultureCode)</h2></div>
        </div>
    </div>
</div>
