﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@using Znode.Engine.Api.Models
@{
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    int inventoryRoundOffValue = string.IsNullOrEmpty(inventoryRoundOff) ? 0 : Convert.ToInt32(inventoryRoundOff);
}

@if (Model.GroupProducts?.Count > 0)
{
    <div class="group-product-container">
        @foreach (AssociatedProductModel product in Model.GroupProducts)
        {
            using (Ajax.BeginForm("UpdateQuantityOfCartItem", "Cart", new { guid = Model.ExternalId, productId = product.ProductId }, new AjaxOptions() { UpdateTargetId = "divShoppingCart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "Cart.prototype.EnableDisableCheckoutButton()" }, new { @class = "frmCartQuantity", @id = "cartQtyForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="text" name='Quantity' value="@Math.Round(product.Quantity, inventoryRoundOffValue)" data-cart-productId="@product.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@product.MinimumQuantity" data-cart-maxquantity="@product.MaximumQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
                if (Model.InsufficientQuantity)
                {
                    <div id="avl_quantity_error_msg_@product.ProductId" class="error-msg quantity-msg-error">@string.Format(WebStore_Resources.ExceedingAvailableQuantity, Model.QuantityOnHand)</div>
                }
                <div id="quantity_error_msg_@product.ProductId" class="error-msg"></div>
            }
        }
    </div>
}
else
{
    using (Ajax.BeginForm("UpdateQuantityOfCartItem", "Cart", new { guid = Model.ExternalId, productId = 0 }, new AjaxOptions() { UpdateTargetId = "divShoppingCart", OnBegin = "ZnodeBase.prototype.ShowLoader()", OnComplete = "Cart.prototype.EnableDisableCheckoutButton()" }, new { @class = "frmCartQuantity", @id = "cartQtyForm" }))
    {
        @Html.AntiForgeryToken()
        string quantity = Helper.GetRoundOffQuantity(Model.Quantity);
        <input data-test-selector="txtCartQuantity" type="text" name='Quantity' id="cart-quantity" value="@quantity" data-cart-productId="@Model.ProductId" data-cart-sku="@Model.SKU" data-cart-minquantity="@Model.MinQuantity" data-cart-maxquantity="@Model.MaxQuantity" data-inventoryRoundOff="@inventoryRoundOff" onchange="Cart.prototype.UpdateCartQauntity(this);">
        if (Model.InsufficientQuantity)
        {
        <span id="avl_quantity_error_msg_@Model.ProductId" class="error-msg quantity-msg-error">@string.Format(WebStore_Resources.ExceedingAvailableQuantity, Model.QuantityOnHand)</span>
        }
        <div data-test-selector="divQuantityErrorMsg" id="quantity_error_msg_@Model.ProductId" class="error-msg"></div>
    }
    <div id="quantity_error_msg" class="error-msg"></div>
}