﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;

    Dictionary<string, object> searchProperties = new Dictionary<string, object>();

    searchProperties.Add(WebStoreConstants.PageSize, pageSize);
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">
    <!-- Breadcrumb -->
    <div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
        @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
        {
            @Html.RenderBlock(Model.BreadCrumbHtml)
        }
    </div>
    <div class="container">
        <div class="row">
            <aside class="col-xs-12 col-sm-3 side-bar">
                @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <div class="col-xs-12 col-sm-9 category-landing-container">
                <div class="col-xs-12 nopadding brand-banner">
                    <div class="col-sm-9 nopadding">
                        <h1 data-test-selector="lblCategoryName">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                        <p>@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                    </div>
                    <div class="col-sm-3 nopadding">
                        <img data-test-selector="imgCategory" src="@Model.ImageMediumPath" class="img-responsive" data-src="@Model.ImageMediumPath" alt="Image" title="@Attributes.Value(Model.Attributes, "ImageAltText")" />
                    </div>
                </div>
                <z-widget>@Html.WidgetPartialAuto("CategoryGrid", "CategoryList", "123", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.CategoryId)</z-widget>
                @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
            </div>
            @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
            {
                if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
                {
                    <div class="col-xs-12 nopadding">
                        <div class="category-more text-center margin-top-bottom">
                            <a href="@domainurl@Url.Action("Index","Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn-text btn-bg-primary">
                                @*@WebStore_Resources.LabelViewAll @Html.RenderBlock(Model.CategoryName)*@
                                View All
                            </a>
                        </div>
                    </div>
                }
            }
            <div class="col-xs-12 nopadding">
                <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
            </div>
        </div>
        <!-- Shopper Approved Start -->
        <div class="row margin-top">
            <div id="shopper_review_page"><div id="review_header"></div><div id="merchant_page"></div><div id="review_image"><a href="https://www.shopperapproved.com/reviews/nivisolutions.com/" target="_blank" rel="nofollow"></a></div></div>
        </div>
        <!-- Shopper Approved End -->

    </div>
    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
    <input type="hidden" value="0" id="parentCategoryId" />
</div>
<!-- Shopper Approved Start --> 
<script type="text/javascript">var sa_review_count = 20; var sa_date_format = 'F j, Y'; function saLoadScript(src) { var js = window.document.createElement("script"); js.src = src; js.type = "text/javascript"; document.getElementsByTagName("head")[0].appendChild(js); } saLoadScript("https://www.shopperapproved.com/merchant/34430.js");</script>
<!-- Shopper Approved End -->