﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
    string productSku = Model.SKU;
    string seoTitle = string.IsNullOrEmpty(Model.SEOTitle) ? PortalAgent.CurrentPortal.WebsiteTitle : Model.SEOTitle;
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
}
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId" data-sku="@productSku">
    <!-- Breadcrumb -->
    <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
    <div class="container">
        <div class="row product-view-details">
            <!--Get Product Images-->
            <div class="col-xs-12 col-md-6 nopadding product-images">
                @Html.Partial("_ProductImage", Model)
            </div>
            <!--Get Product details like short decription and higlights-->
            <div class="col-xs-12 col-md-6 nopadding product-overview">
                @Html.Partial("_ProductOverview", Model)
                @Html.Partial("_ProductInfo", Model)
            </div>
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>
@Html.Partial("~/Views/Shared/Enhanced Ecommerce/_PDPTracking.cshtml", Model.GetEcommerceDetailsOfProduct())
<!--Template Level Script-->
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleGallery.js")"></script>
<script src="@Helper.GetThemeFilePath($"/Views/Themes/", "/Scripts/lib/jquery.simpleLens.js")"></script>
<script>
    $(document).ready(function () {
        $('title').html("@seoTitle");
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery(
        { show_event: 'click' }
    );
    $('#ImageZoom .simpleLens-big-image').simpleLens(
        { open_lens_event: 'click' }
    );
</script>
@* Klaviyo Changes *@
@using System.Configuration
@Html.Hidden("PName", Model.Name)
@Html.Hidden("PID", productId)
@Html.Hidden("PSKU", productSku)
@Html.Hidden("PBrand", Model.Attributes?.ValueFromSelectValue(ZnodeConstant.Brand))
@Html.Hidden("PImage", Model.OriginalImagepath)
@Html.Hidden("PGender", Model.Attributes?.ValueFromSelectValue("Gender"))
@Html.Hidden("PUnitPrice", Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM))
<script type="text/javascript">
    var _learnq = _learnq || [];
    var item = {
        "ProductName": $("#PName").val(),
        "ProductID": $("#PID").val(),
        "SKU": $("#PSKU").val(),
        "Categories": [$("#breadCrumb a:last").text()],
        "ImageURL": $("#PImage").val(),
        "URL": window.location.href,
        "Brand": $("#PBrand").val(),
        "Price": $("#spnProductPrice").text()
    };

    _learnq.push(["track", "Viewed Product", item]);
    
</script>
