﻿@import "_base.scss";

// Header Section.
@import "widgets/header.scss";

// Main Wrapper.
.wrapper{min-height: 100%;}
.main-wrapper{padding:15px 0; min-height:700px;
    .page-title{text-transform:uppercase;}
}
//Skip to main content
#skiptocontent {position: absolute;left: 0;top: 0;width: 100%;margin-left: 0;text-align: center;list-style: outside none;
    a {position: absolute;left: -99999px;top: 30px;
    &:focus,&:active{position: relative;left: 0;z-index: 9999;width: 100%;height: auto;margin: 0 auto;text-align: center;text-decoration: none;color: $anchor-tag-fgcolor-hover;background-color: $base-color-white;padding: 10px;border: 2px solid $anchor-tag-fgcolor-hover;}
    }
}
.contain-pages{
    a{color:$base-color-primary;}
}
// Footer.
@import "widgets/footer.scss";

// Breadcrumb.
.breadcrumb-container{color:$base-color-primary;text-align:center;margin-top:-6px;
    a{color:$base-color-secondary;padding:0 5px; display:inline-block;}
    span{padding:5px;}
}

@import "_navigation.scss";

// Site Map.
.site-map-container{margin-bottom:20px;min-height:500px;
    .section-header{font-size:$base-font-size + 5;font-weight:bold;padding-bottom:8px;border-bottom:1px solid $border-bgcolor-default;}    
    ul{padding:0;margin:0;
       li{list-style:none;}
       .sub-menu{margin-left:20px;}
       .zf-caret-right,.zf-arrow-right-small{padding-right:5px;}       
    }
}

// Media Query.
@include screensize(x-small) {
// Contain Pages.
.contain-pages, .site-map-container{padding:0 5px;}
}
@include screensize(small) {
// Contain Pages.
.contain-pages{padding:0;min-height:650px;}
.site-map-container {padding:0;}
}